@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

html, body{
    width: 100%;
    overflow-x: hidden;
}

:root {
    --dull_blue: #F2F9FE;
    --white: #ffffff; 
    --gray: #909193;
    --dull_navy: #223344;
    --dark_purple: #111729;
    --green: #4CA154;
    --vivid_blue: #2A4DD0;

    --body_text: 1.125rem;
    --button_text: 1rem;
    --small_text: 0.875rem;
    --heading_text: 3.75rem;
  }

  [data-theme="dark"] {
    --dull_blue: #111729;
    --white: #223344; 
    --gray: #909193;
    --dull_navy: #ffffff;
    --dark_purple: #111729;
    --green: #4CA154;
    --vivid_blue: #2A4DD0;
  }
  

/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    color: var(--dull_navy);
}

ul{
    color: var(--dull_navy);
}

h1{
    font-size: var(--heading_text);
}

h6{
    font-size: var(--small_text);
}

a {
    text-decoration: none;
    color: inherit;
}

p{
    font-size: var(--body_text);
    color: var(--gray);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}



/* Add some styles for body*/
body {
    position: absolute;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: var(--dull_blue);
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    /* padding: 4rem; */
    padding-bottom: 6rem;
    

}

header {
    display: flex;
    justify-content: space-between;

}

.get-started {
    padding: 1rem 2rem;
    border: 0.5px solid #1e293b;
    background-color: #94a3b817;
    border-radius: 2rem;
    font-size: 0.875rem;
    font-weight: 200;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
}

.title {
    position: relative;
    text-align: center;
}

.title::after {
    content: "";
    background: url('../images/blur-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -130px;
    right: -75px;
    width: 500px;
    height: 250px;
    opacity: 0.5;
}

.logo {
    width: 65%;
    max-width: 135px;
    margin-left: 5%;
}

svg{
    width: 100%;
    height: 100%;
}



.header-wrapper{
    display: flex;
    padding:10px 0;
    width: 100%;
    max-width: 100%;
}

#menu{
    fill: var(--dark_purple);
}

.icon-container{
    max-width: 10%;
    margin-left: auto;
    margin-right: 5%;
}

.main-wrapper{
    max-width: 75%;
}

.main-img{
    width: 100%;
    height: auto;
    max-width: 520px;
}

.button-blue{
    background-color: var(--vivid_blue);
    padding:16px 32px;
    border-radius: 10px;
    color: var(--white);
    font-size: var(--button_text);
}

.link{
    color: var(--vivid_blue);
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    font-size: var(--button_text);
}

.main-cta{
    margin-top:25px;
}
.buttons{
    margin-top:35px;
}

.buttons .button-blue{
    margin-right: 35px;
}

.checkmark-container{
    display: flex;
}

.checkmark-card{
    display: flex;
    margin-top:35px;
}

.card1{
    margin-right: 25px;
}

.checkmark-icon{
    margin-right: 10px;
}

.checkmark-card p {
    font-size: var(--small_text);
}

.nav-container{
    margin: 0 auto;
}

.nav-list{
    display: flex;
    list-style: none;
    gap:48px;
    font-size: var(--button_text);
    font-weight: 700;
}

.nav-list li:nth-child(n+2), .nav-list-mobile li:nth-child(n+2){
    color: var(--gray);
}




.switch-container{
    margin-right: 82px;
    transition: all 0.2s ease;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark_purple);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 0px;
    bottom:1px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  input:focus + .slider {
    box-shadow: 0 0 1px --dark_purple;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22.5px);
    -ms-transform: translateX(22.5px);
    transform: translateX(22.5px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switch-img{
    position: absolute;
    z-index: 99;
    width: 15px;
    height: auto;
  }

  .moon-fill{
    top:3.5px;
    right: 25px;
  }

  .sun-fill{
    top:3.5px;
    right: 2px;
  }

  .mobile-menu-container{
    background-color: var(--white);
    width: 360px;
    height: 9999px;
    top:0;
    bottom:0;
    left:auto;
    right:-702px;
    transition: all 0.2s ease;
}

.mobile-menu{
    padding:35px 25px 0 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.mobile-menu ul{
    text-align: center;
}



.mobile-menu-container ul{
    list-style: none;
    font-size: var(--heading_text);
}

.mobile-menu-icon{
    width: 35px;
}

.mobile-menu-icon svg{
    color: var(--dull_navy);
}

.checkmark-icon{
    width: 15%;
}


@media screen and (max-width:320px){


    h1, .mobile-menu-container ul{
        font-size: calc(var(--heading_text) - 1.8rem) !important;
    }

    .mobile-menu-container ul{
        font-size: calc(var(--heading_text) - 1rem) !important;
    }

    p{
        font-size: calc(var(--body_text) - 0.5rem) !important;
    }

    .buttons a{
        font-size: calc(var(--button_text) - 0.5rem) !important;

    }

    .checkmark-card p{
        font-size: calc(var(--button_text) - 0.5rem) !important;
    }

    .mobile-menu-container{
        display: none;
    }

}




@media screen and (min-width:320px){

    h1{
        max-width: 350px;
    }

    .show-desktop{
        display: none;
    }

    .show-mobile{
        display: block;
    }

    .switch-container, .mobile-menu-container{
        position: absolute;
    }

    .switch-container{
        top:475px;
        bottom:0;
        left:auto;
        right:-150px;
        margin-right: 0;
    }

    .buttons a{
        font-size: calc(var(--button_text) - 0.2rem);

    }

    .checkmark-card p{
        width: 200px;
    }

    .mobile-menu-container{
        display: none;
    }

}

@media screen and (max-width:475px){

    h1{
        font-size: calc(var(--heading_text) - 1rem);
    }

    p{
        font-size: calc(var(--body_text) - 0.2rem);
    }

    .checkmark-card p{
        font-size: calc(var(--small_text) - 0.3rem) ;
    }

    .show-desktop{
        display: none;
    }

    .switch-container, .mobile-menu-container{
        position: absolute;
    }

    .switch-container{
        top:475px;
        bottom:0;
        left:auto;
        right:-150px;
        margin-right: 0;
    }

    .card1{
        margin-right: 10px;
    }

    .checkmark-card p{
        width: 150px;
    }
}

@media screen and (min-width:1024px){

    h1{
        max-width: 750px;

    }

    a{
        font-size: var(--small_text);
    }

    .main-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .show-mobile{
        display: none;
    }

    .show-desktop{
        display: block;
    }
    
    .switch-container{
        position: static;
        margin:auto 64px;
    }
    
}

@media screen and (min-width:1280px){

    h1{
        max-width: 350px;
    }

    p{
        max-width: 450px;
    }

    body{
        max-width: 100%;
    }

    main{
        margin-top:100px;
    }

    .main-img{
        width: 515px;
        height: auto;
        max-width: none;
    }

    .checkmark-card{
        width: 215px;
    }

    .main-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: center;
    }

    .main-content{
        position: relative;
        margin-right: auto;
        right: 100px;
    }

    .checkmark-container{
        margin-top:25px;
    }

}

