@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

:root {
    --dull_blue: #F2F9FE;
    --white: #ffffff; 
    --gray: #909193;
    --dull_navy: #223344;
    --dark_purple: #111729;
    --green: #4CA154;
    --vivid_blue: #2A4DD0;

    --small_text: 0.875rem;
    --button_text: 1rem;
    --body_text: 1.125rem;
    --heading: 3.75rem;
  }

/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    color: var(--dull_navy);
}

h2{
    max-width: 150px;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: var(--dull_blue);
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    /* padding: 4rem; */

}

header {
    display: flex;
    justify-content: space-between;

}

.get-started {
    padding: 1rem 2rem;
    border: 0.5px solid #1e293b;
    background-color: #94a3b817;
    border-radius: 2rem;
    font-size: 0.875rem;
    font-weight: 200;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
}

.title {
    position: relative;
    text-align: center;
}

.title::after {
    content: "";
    background: url('../images/blur-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -130px;
    right: -75px;
    width: 500px;
    height: 250px;
    opacity: 0.5;
}

.logo {
    width: 55%;
    max-width: 85px;
    margin-left: 5%;
}

svg{
    width: 100%;
    height: 100%;
}


.link-card {
    padding: 1rem;
    border: 0.5px solid transparent;
    transition: all ease-in-out 50ms;
    cursor: pointer;
}

.link-card:hover {
    border: 0.5px solid #1e293b;
    background-color: #94a3b817;
    border-radius: 8px;
}

.link-title {
    font-size: 1.125rem;
}

.link-description {
    font-size: 0.875rem;
    font-weight: 200;
    margin-top: 0.5rem;
    color: #94a3b8;
}

.header-wrapper{
    display: flex;
    padding:10px 0;
    width: 100%;
    max-width: 100%;
}

#menu{
    fill: var(--dark_purple);
}

.icon-container{
    display: flex;
    align-items: center;
    max-width: 10%;
    margin-left: auto;
    margin-right: 5%;
}

.main-wrapper{
    max-width: 75%;
}

.main-img{
    width: 100%;
    height: auto;
}

@media screen and (max-width:320px){


}

